# <p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta name="viewport" content="width=360px, height=640px">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home - 같이 타랑께</title>
  </head>
<body>
  <h1>용봉동</h1>
  <%= form_with url: "/rides", method: :get, local: true do |f| %>
    <%= f.label :출발지 %>
    <%= f.text_field :departure %>
    <%= f.label :도착지 %>
    <%= f.text_field :arrival %>
    <%= f.label :최소_인원 %>
    <%= f.number_field :min, min: 2, max: 4, value: params[:min] %>
    <%= f.label :최대_인원 %>
    <%= f.number_field :max, min: 2, max: 4, value: params[:max] %>
    <%= f.submit "검색" %>
  <% end %> 
    
    <% @rides.each do |ride| %>
      <a href="rides/<%= ride.id %>">
          <div class="resinfo">
              <div class="resinfo__map">
                  <img src="exampleimage/mapexample.PNG">
              </div>
              <div class="resinfo__detone">
                  <span><%= ride.departure %> -> <%= ride.arrival %></span> <br>
                  <span><%= ride.reservation %></span> <br>
                  <span><%= ride.memo %></span>
              </div>
              <div class="resinfo__dettwo">
                  <span>잔여 1석</span>   <br>
                  <span>예상 13000원</span>   <br>
                  <% if ride.via %>
                    <span>동행 경유 가능</span> 
                  <% end %>
              </div>
          </div>
      </a>
    <% end %>


    <br>
    <div class="add__btn">
      <i class="fas fa-plus fa-2x"></i>
      <%= link_to 'New Ride', new_ride_path %>
    </div>


    <nav class="nav">
        <ul type="none" class="nav__list">
            <li class="nav__btn">
                <a class="nav__link" href="#">
                    <i class="fas fa-house-user fa-2x">
                </i></a></li>
            <li class="nav__btn">
                <a class="nav__link" href="chatlist.html">
                    <i class="far fa-comment fa-2x"></i></a></li>
            <li class="nav__btn">
                <a class="nav__link" href="/users/<%= current_user.id %>">
                    <i class="far fa-user fa-2x"></i></a></li>
        </ul>
    </nav>

    <script src="https://kit.fontawesome.com/762239f8d9.js" crossorigin="anonymous"></script>
  </body>
</html>